/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
  padding: 0;
  margin: 0;
}


html,
body {
  overflow-x: hidden;

}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #333;
  text-decoration: none;

}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.nav-top-group-log-ul li:not(:last-child)::after {
  content: "  |";
  margin-left: 8px;
  color: gray;
  position: relative;
  top: -2px;
}

.nav-top {
  background-color: aliceblue;
  height: 5%;
}

.default-text {
  color: #333;
}

.ul-hover-group {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  list-style: none;
  padding: 5px 0;
  min-width: 150px;
  border-radius: 10px;
}

.user-group:hover .ul-hover-group {
  display: block;
}

.ul-hover-group li {
  margin-left: 10px;
}

.ul-hover-group li::after {
  content: none !important;
}

.nav-top-group-log-ul li {
  font-size: small;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 120px;
}